* {
    color: white;
    background-color: darkblue;
}

h1 h2 h3 {
    text-align: center;

}

#gameCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameInfo {
    display: flex;
    justify-content: center;
    gap: 20%;
}

#yourInfo #compInfo {
    display: flex;
    flex-direction: column;
}

#buttonCont {
    display: flex;
    gap: 5%;
}

button {
    font-size: 60px;
    height: 200px;
    width: 200px;
}